<section class="content">
    <h2 class="title">Nossos serviços</h2>
<div class="divServicos">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stitle">Consulta Veterinária</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="paragraph">Cuide do seu amiguinho com uma consulta veterinária. Nossos especialistas vão verificar a saúde dele, dar conselhos e garantir que ele esteja sempre no seu melhor.</p>
        </mat-card-content>
      </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stitle">Tosa e Estilização</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="paragraph">Transforme o visual do seu pet com nossa tosa e estilização profissional. Deixe-o confortável, fresco e com um visual incrível que vai fazer todos virarem a cabeça.</p>
        </mat-card-content>
      </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stitle">Banho Relaxante</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="paragraph">Proporcione ao seu bichinho um banho relaxante e revigorante. Ele sairá cheiroso, limpinho e com a pelagem brilhante, pronto para receber todos os elogios.</p>
        </mat-card-content>
      </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stitle">Check-up Completo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="paragraph">Mantenha o bem-estar interno do seu pet com nossos exames detalhados. Nossa equipe vai analisar a saúde dele de dentro para fora, proporcionando tranquilidade para você e para ele.</p>
        </mat-card-content>
      </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stitle">Proteção com Vacinas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="paragraph">Proteja seu companheiro com nossas vacinas de alta qualidade. Mantenha doenças perigosas afastadas e proporcione uma vida longa e feliz ao seu amado pet.</p>
        </mat-card-content>
      </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stitle">Cirurgia com Cuidado</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="paragraph">Caso seu pet precise de uma intervenção cirúrgica, nossa equipe está pronta para oferecer um cuidado excepcional. Deixe-o em mãos experientes para uma recuperação tranquila.</p>
        </mat-card-content>
      </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stitle">Serviços Personalizados</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="paragraph">Se o que você precisa é único, nós temos a solução. Nossos serviços personalizados atendem às necessidades especiais do seu bichinho, proporcionando o melhor cuidado possível.</p>
        </mat-card-content>
      </mat-card>
</div>
    <p class="text">Na nossa clínica, sabemos que seu pet é mais do que um animal de estimação, é um membro da família. Por isso, oferecemos serviços de alta qualidade para garantir que ele tenha uma vida feliz, saudável e cheia de alegria. Estamos aqui para cuidar e mimar o seu companheiro com todo o carinho que ele merece.</p>
</section>