.content {
  width: 80%;
  margin: auto;
  min-height: 75vh;
}

.img-container {
  width: 200px;
}

.cat-img{
  width: 18.75rem ;
  border-radius: 1rem;
  border: #FF4081 1px solid;  
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #FF4081;
  padding-top: 2%;
}