<section class="content">
    <p class="title">Boas-Vindas ao LoveCat - Gateria Hospedagem!</p>
    <div class="stitle">Faça já sua reserva</div>
    <div class="divHome">
        <img class="imgCat" src="https://static.vecteezy.com/ti/vetor-gratis/p1/13652009-amando-animais-domesticos-e-conceito-de-pessoa-de-gato-menina-ruiva-sorridente-em-pe-e-apoiando-se-no-gatinho-de-gato-amoroso-com-a-cabeca-se-sentindo-apaixonada-ilustracaoial-vetor.jpg" alt="">
        <p class="paragraph">Somos apaixonados por gatinhos e dedicamos nossos serviços exclusivamente a eles. Na LoveCat, oferecemos uma variedade de cuidados e mimos para os seus felinos queridos. Desde tosas que realçam a beleza da pelagem até banhos relaxantes que os deixam impecáveis, nossa equipe experiente e amorosa está pronta para cuidar dos seus gatinhos como se fossem nossos.
        </p>
    </div>
    <div class="divHome">
        <p class="paragraph">Nosso compromisso vai além do básico - proporcionamos a eles uma experiência de hospedagem recheada de conforto e carinho, garantindo que se sintam em casa mesmo quando você não pode estar presente. Com ambientes seguros e aconchegantes, seus gatinhos terão um lar temporário onde podem brincar, descansar e receber atenção individualizada.
        </p>
        <img class="imgCatR" src="https://static.vecteezy.com/ti/vetor-gratis/p1/13903916-pessoa-mao-caricia-gato-fofo-fofo-homem-ou-mulher-afago-gatinho-feliz-mostra-amor-e-cuidado-com-animais-domesticos-ilustracaoial-vetor.jpg" alt="">
    </div>
    <div class="divHome">
        <img class="imgCat" src="https://img.freepik.com/vetores-premium/animal-amoroso-e-conceito-de-pessoa-amante-de-gatos_160308-3461.jpg?w=2000" alt="">
        <p class="paragraph">Na LoveCat, acreditamos que os gatinhos merecem o melhor. Nossos serviços são mais do que cuidados - são uma expressão genuína de amor e dedicação aos membros peludos da sua família. Confie em nós para fazer seus gatinhos se sentirem especiais, mimados e amados.
        </p>
    </div>
    <div class="divHome">
        <p class="paragraph">Seja para uma tosa elegante, um banho relaxante ou uma estadia agradável, estamos aqui para oferecer um tratamento VIP aos seus amigos felinos. Boas-Vindas ao mundo de carinho e atenção da LoveCat - onde os gatinhos são a nossa prioridade número um!
        </p>
        <img class="imgCatR" src="https://static.vecteezy.com/ti/vetor-gratis/t2/13700043-apreciando-o-conceito-de-animais-e-animais-de-estimacao-jovem-casal-sorridente-mulher-e-homem-de-pe-e-segurando-gato-e-cachorro-pequeno-nas-maos-sentindo-amor-ilustracaoial-vetor.jpg" alt="">
    </div>
</section>